version: '3.8'

services:
  web:
    image: registry.local:5000/jason-webserver:1.0
    ports:
      - "8080:3000"
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    depends_on:
      - db

  db:
    image: mongo:latest
    volumes:
      - mydata:/data/db
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]

volumes:
  mydata: